.chat-display {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 100%;
}

.message-display {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: calc(100% - 50px);
    padding: 0px 5px 0px;
}

.chat-input {
    width: 100%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0px 10px 0px;
    box-sizing: border-box;
    font-size: 20px;
    border-radius: 10px;
}

.message-input {
    width: calc(100% - 75px);
    margin: 0px;
    padding: 0px;
    border: none;
    font-size: inherit;
}

.input-submit {
    background-color: inherit;
    border: none;
    text-decoration: none;
    width: 75px;
    margin: 0px;
    padding: 0px;
    font-size: inherit;
}