:root {
  --primary-color: #9999ee;
  --light: 80;
  --threshold: 70;
  --switch: calc((var(--light) - var(--threshold)) * -100%);
  --light-dark-text: hsl(0, 0%, var(--switch))
}

.App {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}